@charset "utf-8";
/* course body container */
body {
	background-color: #99C24D;
	background-image: url(../img/img_gen/1Tzky.png);
	background-image: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
p, td {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	text-align: justify;
	padding: 0px;
	margin-top: 0px;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 16px;
	margin-left: 0px;
	line-height: 1.5em;
}

td {
        text-align: left;
        vertical-align: middle;
}

ol{
    padding-left: 20px;
}

.container {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #FFF;
	margin-bottom: 50px;
}
.section {
	min-height: 600px;
}
/* course content container */
.box {
	margin-bottom: 20px;
	padding: 30px 15px;
	background: #fff;
	background: rgba(255,255,255,0.9);
}
/* left and right navigation sticky buttons  */
#navbuttons {
	float: right;
	right: 0;
	margin-top: 5px;
	position: fixed;
	top: 85%;
	right: 100px;
	display: inline
}
#navbuttons .navbuttontext {
	float: left
}
.navbutton {
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	background-color: #000;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	padding: 8px 12px;
	color: #fff;
	font-size: 18px
}
/* back to the top sticky button */
.back-to-top [class^=icon-] {
	font-size: 3em
}
.back-to-top {
	position: fixed;
	top: 85%;
	right: 15px;
	display: none;
	text-align: center;
	font: 9px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	background-color: #000;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	padding: 5px 12px;
	color: #fff
}
.back-to-top:hover {
	text-decoration: none
}
.back-to-top a, .back-to-top a:visited {
	color: #fff !important
}
#marketing-spots {
	overflow: hidden
}
#marketing-spots .marketing-spot {
	background: #fff;
	padding: 3px 10px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	margin-bottom: -99999px;
	padding-bottom: 99999px
}
.course-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: #5d8ddb;
	margin: 20px;
	float: right;
	width: 30%;
	text-align: right;
}
.navbar-brand {
	font-size: 15px;
}
#header {
	display: none;
}

/* conditional when other devices screens */
@media screen and (min-width:768px) {
.box {
	margin-bottom: 20px;
	padding: 0px 0px;
	background: #fff;
	background: rgba(255,255,255,0.9);
}
#header {
	display: inline;
}
#header .fao-logo {
	display: inline;
	margin: 20px;
}
.navbar-header {
	display: none;
}
}
 @media screen and (min-width:1200px) {
.box:after {
	content: '';
	display: table;
	clear: both;
}
}
h1 {
  font-size: 1.6em;
  font-weight: Extra-Light;
  color: #5d8ddb;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  line-height:normal;
}
h1 a:link, h1 a:visited {
  color: #069;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
h1 a:hover {
  color: #5897D0;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #048BA8;
  text-align: left;
  vertical-align: bottom;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  padding-top: 0px;
  padding-bottom: 3px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-style: normal;
  line-height:normal;
  padding-left: 30px;
}
h2 a:link, h2 a:visited {
  color: #048BA8;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
h2 a:hover {
  color: #5897D0;
}
h3 {
	font-family: 'Quicksand', sans-serif, Arial, Helvetica;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	color: #5d8ddb;
	text-align: left;
	padding: 0px;
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-left: 30px;
}
h4 {
	font-family: 'Quicksand', sans-serif, Arial, Helvetica;
	font-size: 1.2em;
	font-weight: normal;
	color: #5d727d;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	padding-bottom: 4px;
}
h4 a:link, h1 a:visited {
	color: #069;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
h5 {
	font-family:'Quicksand', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	color: #5d8ddb;
	text-align: center;
	vertical-align: bottom;
	width: 85%;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom:10px;
	font-style: normal;
	line-height: normal;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #99C24D;
	border-radius: 15px;
}
h1 {
	font-family:'Quicksand', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	color: #583d4d;
	text-align: left;
	vertical-align: bottom;
	margin: 0px;
	font-style: normal;
	line-height: normal;
	padding-left: 25px;
	padding-top: 80px;
}

h6 {
	font-family:'Quicksand', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	color: #3A4B1B;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-top:5px;
	font-style: normal;
	line-height: normal;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 30px;
}

.back_destacado {
	background-image: url(../img/img_gen/b_destacado.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#bot_prev {
    height: 39px;
    width: 39px;
    display: block;
    float: left;
    margin-right: 10px;
}

#bot_prev a:link, #bot_prev a:visited {
    height: 39px;
    width: 39px;
    display: block;
    background-image: url(../img/img_gen/bot-prev.png);
    background-repeat: no-repeat;
    background-position: left top;
}

#bot_next {
    height: 39px;
    width: 39px;
    display: block;
    float: left;
}

#bot_next a:link, #bot_next a:visited {
    height: 39px;
    width: 39px;
    display: block;
    background-image: url(../img/img_gen/bot-next.png);
    background-repeat: no-repeat;
    background-position: left top;
}

#navegacion {
    /* margin: 20px; */
    /* padding-bottom: 100px; */
    padding: 0px;
    float: right;
}

.ad1 {
	-webkit-animation-delay: 500ms;
  }
  .ad2 {
	-webkit-animation-delay: 1s;
  }
  .ad3 {
	-webkit-animation-delay: 1500ms;
  }
  .ad4 {
	-webkit-animation-delay: 2s;
  }
  .ad5 {
	-webkit-animation-delay: 2500ms;
  }
  .ad6 {
	-webkit-animation-delay: 3s;
  }
  .ad7 {
	-webkit-animation-delay: 3500ms;
  }
  .ad8 {
	-webkit-animation-delay: 4s;
  }
  .ad9 {
	-webkit-animation-delay: 4500ms;
  }
  .addiez {
	-webkit-animation-delay: 5s;
  }
  .ad11 {
	-webkit-animation-delay: 5500ms;
  }
  .ad12 {
	-webkit-animation-delay: 6s;
  }
  .ad13 {
	-webkit-animation-delay: 6500ms;
  }
  .ad14 {
	-webkit-animation-delay: 7s;
  }
  .ad15 {
	-webkit-animation-delay: 7500ms;
  }
  .ad16 {
	-webkit-animation-delay: 8s;
  }
  .ad17 {
	-webkit-animation-delay: 8500ms;
  }
  .ad18 {
	-webkit-animation-delay: 9s;
  }

  td {
   background: #EAEAEA;
   color: darkslateblue;
  }
  
  .t0 {
   background: orange;
   color: darkblue;
  }
  
  .t1 {
   background: #FACC2F;
   color: darkblue;
  }
  
  .t2 {
   background: greenyellow;
   color: blue;
  }
  
  .t3 {
   background: green;
   color: white;
  }
  
  .t4 {
   background: darkgreen;
   color: white;
  }
  
  th {
   background: #EAEAEA;
   color: black;
   text-align: center;
  }