@charset "utf-8";

.responsive-img {

  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}


.label-unidad {
  background-color: #F18F01;
}
.label-unidad[href]:hover,
.label-unidad[href]:focus {
  background-color: #76878f;
}

.card1 {
  background-color: #F5DD57; 
  border-radius: 15px; 
  height: 170px;
  margin-left: 30px;
}

.card2 {
  background-color: #38973B; 
  border-radius: 15px; 
  height: 170px;
  margin-left: 20px;
}

.card3 {
  background-color: #57B2F5; 
  border-radius: 15px; 
  height: 170px;
  margin-left: 20px;
}

.card4 {
  background-color: #973838; 
  border-radius: 15px; 
  height: 170px;
  margin-left: 20px;
}

.caja {
	margin:16px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
	background-color: #FFF;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.caja1 {
	margin:16px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px; 
  padding-right: 10px;
	background-color: lightskyblue;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.caja2 {
	margin:16px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px; 
  padding-right: 10px;
	background-color: lightgreen;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.cajaB {
	margin:16px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  border: 2px solid blue;
	background-color: white;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.cajaR {
	margin:5px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid red;
	background-color: white;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.cajaG {
	margin:16px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: 2px solid green;
	background-color: white;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.cajaLG {
	margin:16px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0px;
  border: 2px solid green;
	background-color: #DAF7A6;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.cajaDB {
	margin:16px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: 2px solid darkblue;
	background-color: lightcyan;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.cajaO {
	margin:16px;
	padding: 26px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: 2px solid orange;
	background-color: #FBF9B5;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.20);
}

.back_portada {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_gen/back.jpg);
	background-repeat: repeat-x;
	background-position: center 0px;
}

.square {
  background-color: #94BF4A;
  border-radius: 14px 14px 14px 14px;
  padding: 10px;
  width: 100%;
  color: white;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.square1 {
  background-color: #94BF4A;
  border-radius: 14px 14px 14px 14px;
  width: 100%;
  color: white;
  height: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square2 {
  background-color: #2E4057;
  border-radius: 14px 14px 14px 14px;
  width: 100%;
  color: white;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.square3 {
  background-color: #2E4057;
  border-radius: 14px 14px 14px 14px;
  width: 100%;
  color: white;
  height: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square4 {
  background-color: #94BF4A;
  border-radius: 14px 14px 14px 14px;
  width: 100%;
  color: white;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.square5 {
  background-color: #94BF4A;
  border-radius: 14px 14px 14px 14px;
  width: 300px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 15px;
  margin-bottom: 10px;
}

.square6 {
  background-color:#2E4057;
  border-radius: 14px 14px 14px 14px;
  padding: 10px;
  width: 100%;
  color: white;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.square7 {
  background-color:#F18F01;
  border-radius: 14px 14px 14px 14px;
  padding: 10px;
  width: 100%;
  color: white;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.square8 {
  background-color: #2E4057;
  border-radius: 14px 14px 14px 14px;
  padding: 10px;
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 5px;
  width: 100%;
  color: white;
  height: 140px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.square9 {
  background-color: #94BF4A;
  border-radius: 14px 14px 14px 14px;
  padding: 10px;
  width: 100%;
  color: white;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foto_centro {
	display:block;
	margin:auto;
}

.fondo1{
background-image: url(images/background_arrastre.png);
background-position-x: center;
background-repeat: no-repeat;
background-position-y: center;
min-height: 80px;
margin: 4px;
background-color: #ffe7ce;
border-color: #f7a02c;
}

.linea {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
}